@media screen  and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    main .filmeprincipal .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .filmeprincipal .titulo {
        font-size: 28px;
    }

    .filmeprincipal .descricao {
        font-size: 18px;
        width: 70%;
        text-align: center;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 250px;
        height: 70px;
        font-size: 20px;
    }
}
